.total {
    background-color: black;
    color: #ffc107 ;
    padding: 10px;
    border-radius: 50%;
}
body{
	background-image: url("../img/war.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}